.eerieBlack {
  color: hsl(0, 0%, 9%);
}

.darkOliveGreen1 {
  color: #222222;
}
.darkOliveGreen2 {
  color: #2a2929;
}
.onyx {
  color: #3b3b3b;
}
.outerspace {
  color: #31393c;
}

.darkLava {
  color: #42402b;
}
.peaGreen {
  color: #617e1b;
}
.emerald {
  color: #59cd90;
}
.mediumAquamarine {
  color: #56e39f;
}
.VeryLightMalachiteGreen {
  color: #66ff8d;
}

.coconutMilk1 {
  color: #e5e5e5;
}
.anti-flashWhite {
  color: #edf7f6;
}

.cloudyWhite {
  color: #f5f5f5;
}

.blueNcs {
  color: #0284c7;
}
.VividCerulean {
  color: #00a8e8;
}
.mayaBlue {
  color: #59d2fe;
}
.celadonBlue {
  color: #007ea7;
}
.prussianblue: {
  color: #003459;
}
.charlestonGreen* {
  color: #252a2e;
}
.richBlack {
  color: #00171f;
}

.gunMetal {
  color: #2b2d42;
}

.mahogany {
  color: #c74502;
}

.rosePink {
  color: #ff66d8;
}

.bigFootFeet {
  color: #f19953;
}
.copper {
  color: #c47335;
}

PortfolioMax {
  color: #171717;
  aquamarine: #44ffd2;
  color: #87f6ff;
  mindarolight: #daf5ff;
  mossgreen: #95a472;
  mindarodark: #c8e087;
  vindarian: #007a5e;
}
